.main-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: rgb(3, 22, 10);
    
}

.activities-container{
    display: grid;
    
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 100px 50px;
    color: azure;
    
}
.time-container{
    background-color: rgb(0, 0, 0);
    color:aliceblue;
}

@media screen and (max-width:1100px) {
    .activities-container{
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media only screen and (max-width: 600px) {

    .main-container{
        grid-template-columns: repeat(1, 1fr);
        
    }
    .activities-container{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 15px;
        margin-right: 10px;
    }
    .time-container{
        max-width: min-content;
        margin-left: 60px;
    }
}